#para1
{
    position: absolute;
    top:30px;
    left:115px;
    width:350px;
    height:175px;
    border-style: solid;
    border-color: red;
}
#para2
{
    position: absolute;
    top:10px;
    left:15px;
    width:350px;
    height:175px;
    border-style: solid;
    border-color: blue;
}