a:link{
    color: brown;
}
a:visited{
    color:black;
    text-decoration: line-through;
}
a:hover{
    background-color: blue;
    text-decoration: underline;
    font-weight: bold;
}
a:active
{
    background-color: orangered;
}